<ol class="breadcrumb">
    <li class="active">About</li>
</ol>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">This project is Open Sourced</h4>
                <p class="card-text">This project demonstrate an Angular2 application with mininal starter for JWT auth.</p>
                <a href="https://github.com/nasruddin/angular2-minimal-starter" target="_blank" class="btn btn-primary">Open in Github</a>
                <hr/>
                <a href="http://javatab.wordpress.com/" target="_blank" class="btn btn-primary">Follow my Blog</a>
                <hr/>
                <a href="https://twitter.com/iam_nasir" target="_blank" class="btn btn-primary">Follow me on Twitter</a>
            </div>
        </div>
    </div>
</div>
